@charset "UTF-8";

@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 700;
  src: url('/anibuddy/font/LotteMartHappyMedium.woff2') format('woff2'), url('../font/LotteMartHappyMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('/anibuddy/font/LotteMartDreamLight.woff2') format('woff2'), url('../font/LotteMartDreamLight.woff') format('woff');
}




*{ 
/* , body { */
	font-family: 'LotteMartDream';
}

#header {
/* 	text-align: center; */
	top: 0;
	height: 120px;
	width: 1000px;
/* 	position : relative; */
}

#icon {
	text-align: left;
	margin-left: 20px;
	display: inline-block;
	font-family: cursive;
}

#icon img {
	width: 250px;
/* 	height: 90px; */
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

#login {
	text-align: right;
	margin-right: 20px;
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 30px;
}

#login a {
	text-decoration: none;
	color: black;
}
#login a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
}



#footer a {
	text-decoration: none;
}

.nav nav-pills nav-justified {
	position: relative;
	display: inline-block;
	list-style-type: none;
}

.dropdown-content {
	position : absolute;
	z-index: 999;
	display: none;
	align-content: center;
	width : 251px;
}

.dropdown-content .dummy {
	color: #99d4d9;
}

nav li {
	list-style-type: none;
	background-color: #99d4d9;
	font-weight: bold;
	text-align: left;
}

.dropdown-content li {
	color: black;
	align-content: center;
	padding-left: 70px;
	padding-top: 5px;
    padding-bottom: 5px;
	height : 30px;
}

ul:hover .dropdown-content {
	display: inline-block;
	text-align: center;
}
.nav li a {
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	display: block;
}

.dropdown-content li:hover a {
	font-weight: bold;
}

.dropdown-content li a {
	font-weight: normal;
	font-size: 15px;
}
#footer {
	text-align: center;
	background-color: #ffbf00;
	bottom: 0;
	height: 150px;
	width: 100%;
	margin-top: 50px;

}


/* 배너 */

#banner {
    top: 100px;
    right: 20px;
    width: 120px; 
    height: 522px;  
    text-align: center; 
    background: #99d4d9;
    border-radius: 10px;
}

.banner-image {
   position: relative;
   top : 20px;
   border-radius: 5px;
}

.top-button {
   position: relative;
   width : 50px;
   top : 23px;
   margin-top: 10px;
   cursor: pointer;
}

#hospital {
   position:absolute;
   height: 100px;
   width: 100px;
   left: 10px;
    top: 35px;
    z-index: 9999;
}

#safety {
   position:absolute;
   height: 100px;
   width: 100px;
   left: 10px;
    top: 160px;
    z-index: 9999;
}



