@charset "UTF-8";
.o3-content {
	width: 79.8%;
    padding: 5px;
    float: right;
    margin-top: 0;
}

.o3-content .o3-cont {
	width: 700px;
}

.o3-cont .o3-cont__title {
	font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 5px 5px 10px 5px;
}

table {
    overflow: scroll;
    border: 1px solid#99d4d9;
    width: 100%;
}

th{
	border : 1px solid #99d4d9;
	height : 50px;	
	padding : 0;
	text-align: center;
	background-color : #99d4d9;
	width : 170px;
}

tr {
    height: 50px;
    border-bottom: 1px solid #99d4d9;
    text-align: center;
}

.bgBlue{
	background: #99d4d9;
}

.height300 {
	height: 300px;
}

.text-left {
	text-align: start;
	padding: 10px;
}

.margin-top20{
	margin-top: 20px;
}

.btn-common {
	margin: 0;
    color: black;
    padding: 7px;
    border-radius: 7px;
}
.btn-write{
	background: #99d4d9;
    border: 1px solid #b8d3d2;
}

.btn-cancel{
    background: #ffaf9a;
    border: 1px solid #ffaf9a;
}

.btn-delete {
	background: #ffbf00;
	border: 1px solid #ffbf00; 
}

.oneonone {
	width: 700px;
}

.oneonone th.check{
	width : 50px;
}

.oneonone th:nth-child(2) {
	width: 60px;
}

.oneonone th:nth-child(4) {
	width: 70px;
}

#btnDelete:hover
, #btnO3:hover
, #btnO3Cancel:hover {
    font-weight: bold;
    font-size: 14px;
}

#btnDelete {
    background-color: #ffaf9a;
    margin-top: 5px;
}

#btnO3 {
	background-color: #99d4d9;
	margin-top: 5px;
}

.o3-content .o3-cont__wrap {
	width: 700px;
}

#btnSearch:hover {
    font-weight: bold;
    font-size: 14px;
}

#btnSearch {
    background-color: #99d4d9;
}